body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color:#000000;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

}
h5{
  font-family:  'Sofadi One', cursive;
  font-weight: 800;
  margin: 0 0 20px 0;
  padding: 0;
  color:#ffffff;;
}
h3{
  font-family:  'Atma', cursive;
  font-weight: 200;
  margin: 0 0 20px 0;
  padding: 0;
  color:#ffffff;
}
h6{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color:#ffffff;
}
body{
  margin:0;
overflow-X:hidden;
font-family:"Raleway","Roboto","Helvetica",sans-serif;
-webkit-font-smoothing:antialiased;
-moz-font-smoothing:antialiased;
-ms-font-smoothing:antialiased;
motion-rotation:antialiased;

background-repeat: no-repeat;
background: url('/media/images/pattern.png');
background-blend-mode:overlay;
background-size: cover;
}
button:hover {
background: dodgerblue;
color: white;
}
#footer
{
  font-size:0.9em;
  position:relative;
  margin-top:-60px;
  width:100%;
  height:70px;
  text-align:center;
  color:rgba(255,255,255,0.3);
  z-index:+15;
}
#footer:before
{
  position:absolute;
  top:0;
  height:3px;
}
#footer:after
{
  position:absolute;
  bottom:1px;
  top:unset;
  height:3px;
}